.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

html {
  background-image: url('https://www.nawpic.com/media/2020/mountain-nawpic-5.jpg');
  background-repeat: no-repeat;
}

.Carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cd {
  display: flex;
  justify-content: center;
}
